/*CDN de fuente para redes sociales*/
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
/*Fin CDN de fuente para redes sociales*/

body{
    background: var(--color-background);
    color: var(--color-textual);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.myDescrription{
    text-align: justify;
}

.myPhoto{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--color-active);
    margin-right: 0.6cm;
    margin-bottom: -0.1cm;
}

.container{
    z-index: 9;
}

/*
 * Header
 */

 .logo{
    color: var(--color-active);
 }

 .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: var(--color-primario);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: var(--color-active);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color:var(--color-active);
    border-bottom-color: var(--color-active);
  }

/*Inicio temas*/
    :root.light {
        --color-primario: #000;
        --color-textual: rgb(24, 23, 23);
        --color-active:rgb(0, 4, 233);
        --color-background: #ffffff;
    }
    :root.dark {
        --color-primario: #ffffff;
        --color-textual: rgb(192, 182, 182);
        --color-active:rgb(0, 213, 241);
        --color-background: #000;
    }

    /*switch de temas*/

        .theme-btn {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid var(--color-primario);
            color: var(--color-primario);
            background-color: transparent;
            transition: 300ms;
            font-size:small;
            overflow: hidden;
            float: right;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .theme-btn:hover{
            box-shadow: var(--color-primario) 0px 0px 10px, var(--color-primario) inset 0px 0px 15px;
        }

        .theme-btn:active{
            box-shadow: var(--color-primario) 0px 0px 30px;
        }
        
        .theme-btn.light {
            display: none;
        }
        
        .dark .theme-btn.dark {
            display: none;
        }
        
        .dark .theme-btn.light {
            display: block;
        }
    /*fin de switch de temas*/

/*Fin de temas*/


.gecko ul li a::before{
    top: -20px;
    padding-bottom: 10px;
}

.paginas{
    height: auto;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.carde{
    max-width: 30%;
    min-width: 200px;

    height: 370px;

    border: 2px solid var(--color-primario);
    border-radius: 6%;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    overflow: hidden;
    transition: 330ms;

    margin: auto 12px auto 12px;
}

.carde .card-body{
    width: 100%;
}

.carde:hover{
    border: none;
    box-shadow: 3px 3px 10px var(--color-active);
}

.redes{
    width: max-content;
    height: max-content;
    display: flex;
    gap: 41px;
}

/*CSS para redes sociales*/

    .footer {
        width: max-content;
        max-width: 1200px;
        position: relative;

        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    ul {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        height: 8em;/**/
        padding-left: 0rem;
    }
    ul li {
        position: relative;
        list-style: none;
        cursor: pointer;
    }
    ul li a {
        text-decoration: none;
    }
    ul li a .fa-brands, .fa{   
        font-size: 6em;
        color: #222;
    }
    ul li a::before{
        font-family: "FontAwesome";
        position: absolute;
        left: 0;
        top: -17.8%;/**/
        font-size: 6em;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    ul li:nth-child(1) a::before { /*1 WhastApp*/
        content: "\f232";
        color: #25D366;
        border-bottom: 4px solid #25D366;
    }

    ul li:nth-child(2) a::before { /*2 mail*/
        content: "\f0e0";
        color: var(--color-active);
        border-bottom: 4px solid var(--color-active);
    }

    ul li:nth-child(4) a::before { /*4 github*/
        content: "\f09b";
        color: var(--color-primario);
        border-bottom: 4px solid var(--color-primario);
    }

    ul li:hover a::before {
        height: 100%;
    }

    /*
        Licencia

        Copyright (c) 2022 by Nick (https://codepen.io/OfigenusMaximus/pen/yLKOpqb)

        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files 

        (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, 
        
        publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, 
        
        subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE 
        FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION 
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    */

/*Fin de css para redes sociales*/
