body{
    background-color: #161b22;
    align-items: center;
}

#icono-pag{
    width: 59%;
    height: 100%;
    text-align:right;
    float: left;
    display: block;
}
h2{
    text-align: center;
}
marquee{
    color: yellow;
}
.lista{
    width: 100%;
    height: max-content;
    overflow: hidden;
    text-align: center;
}
.paginas IMG{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 4000px){
    header{
        width:99.5%;
        height: auto;
        top: 0%;
        left: 0%;
        right: 0%;
        padding-top: 0.5%;
        padding-bottom:0.5% ;
        margin: auto;
        position:fixed;
        background-color: #161b22;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 0px 1.4px 1.4px seashell;
    }
    .enlaces{
        text-decoration: none;
        color: #00aaff;
        text-shadow: 1px 1px 1px #FFFFFF;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 27pt;
    }
    #redes{
        width: 41%;
        height: 100%;
        float: left;
        display: block;
        text-align: center;
        padding-top: 0.5%;
    }
    
    #gith{
        border-radius: 12px;
        transition: 300ms;
    }
    
    #contenedor{
        width: 97%;
        height: 99%;
        padding-top: 4%;
        padding-right: 1%;
        padding-left: 1%;
        background-color: #161b22;
        left: 0%;
        right: 0%;
        margin: auto;
        position:absolute;
        border-radius: 7px;
        color: seashell;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14pt;
    }

    #arriba{
        height: 50%;
        width: 100%;
        float: left;
        display: block;
        top: 1%;
        left: 0%;
        bottom: 1%;
        right: 0%;
        overflow: auto;
    }
    p{
        font-size: 18pt;
        text-align:left;
    }
    .div-imagen{
        height: 90%;
        width: auto;
        float: left;
        display: block;
        top: 0%;
        bottom: 0%;
        left: 0%;
        margin-right: 1.5%;
        position: relative;
        overflow: hidden;
    }
    .imagen{
        height:100%;
        width: auto;
    }
    
    .paginas{
        height: max-content;
        width: 30%;
        display: inline-block;
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid #ccc;
        transition: 300ms;
        margin: auto;
        position: relative;
        margin: 1% 1% 1% 1%;

    }
    .paginas:hover{
        border: 1px solid #eeee00;
    }
    .nombre{
        height: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: center;
        font-size: 18pt;
    }
}

@media only screen and (max-width: 1027px){
    #arriba{
        height: 29%;
        overflow: auto;
    }
}

@media only screen and (max-width: 823px){
    .enlaces{
        font-size: 23pt;
    }
    header{
        height: auto;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        right: 0%;
        left: 0%;
    }
    #contenedor{
        top: 7%;
        left: 0%;
        right: 0%;
    }
    #redes{
        padding-top:0.5%;
    }

    #arriba{
        height: 55%;
        top: 0%;
        overflow: auto;
    }
    .div-imagen{
        height: 84.5%;
        width: auto;
        position: relative;
        margin-right: 2%;
    }
    p{
        font-size: 10pt;
        text-align: left;
    }
    .nombre{
        font-size: 9pt;
    }
}

@media only screen and (max-width: 770px){
    #arriba{
        height: 55%;
    }
    .paginas{
        width: 27%;
    }
}
@media only screen and (max-width: 570px){
    #arriba{
        overflow: auto;
    }
    p{
        font-size: 8pt;
    }
    .paginas{
        width: 40%;
    }
}

@media only screen and (max-width: 420px){
    header{
        height:7%;
    }
    
    #arriba{
        height: 60%;
    }
    .div-imagen{
        height: 42%;
        width: 35%;
    }
    p{
        font-size: 13pt;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
    }
    
    .paginas{
        width: 47%;
    }
}    

@media only screen and (max-width: 411px){
    header{
        height:6.5%;
    }
    .div-imagen{
        height: 47%;
        width: auto;
    }
}

@media only screen and (max-width: 375px){
    .enlaces{
        font-size: 20pt;
    }
    header{
        height: 7%;
    }
    #contenedor{
        top: 7%;
    }
    #arriba{
        height: 60%;
        top: 0.4%;
        overflow: auto;
    }
    .div-imagen{
        float: left;
        display: block;
        height: 40%;
        width: auto;
        overflow: hidden;
        margin-bottom: 0%;
        margin-right: 1.7%;
    }
    p{
        font-size: 13pt;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
    }
}
@media only screen and (max-width: 360px){
    #arriba{
        height: 75%;
        top: 0.4%;
        overflow: auto;
    }
}
@media only screen and (max-width: 280px){
    .enlaces{
        font-size: 18pt;
    }
    .div-imagen{
        width: auto;
        height: 40%;   
    }
        
    .paginas{
        margin: auto;
        float: none;
        width: 87%;
    }
}
